@import "./mixin.scss";
@import "./global.scss";

.login {
    width: 100%;
    height: 100vh;
    color: $-color-text-main;
    @include contentCenter;
    overflow: hidden;
    // 登录面板
    &-container {
        width: 1100px;
        height: 540px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border-radius: 14px;
        background: #fff;
        display: flex;
        overflow: hidden;
    }
}
.login-image{
    width: 55%;
    height: 101%;
}
.login-main{
    width: 45%;
    height: 100%;
}